

     <div id="questionario_titulo" style="width: 100%; background: #ddd; font-weight: bold; text-align: center;">Questionário Sócio Econômico</div>

    <div class="spacer"></div>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    
<div id="questionario_1">
    <strong>COMPOSIÇÃO FAMILIAR / HABITAÇÃO</strong><hr>
    <strong>Como você mora atualmente</strong><br>
    {{ form_label(form.moradia) }}
    {{ form_errors(form.moradia) }}
    {{ form_widget(form.moradia) }}
    <hr>
    <strong>Quem mora com você</strong><br>
    {{ form_label(form.moraSozinho) }}
    {{ form_errors(form.moraSozinho) }}
    {{ form_widget(form.moraSozinho) }}
    <br>
    {{ form_label(form.moraComFilhos) }}
    {{ form_errors(form.moraComFilhos) }}
    {{ form_widget(form.moraComFilhos) }}
    <br>
    {{ form_row(form.moraComPaiMae) }}
    {{ form_errors(form.moraComPaiMae) }}
    {{ form_widget(form.moraComPaiMae) }}
    <br>
    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>
    {{ form_label(form.moraComConjuge) }}
    {{ form_errors(form.moraComConjuge) }}
    {{ form_widget(form.moraComConjuge) }}
    <br>
    {{ form_label(form.moraComParentesAmigosColegas) }}
    {{ form_errors(form.moraComParentesAmigosColegas) }}
    {{ form_widget(form.moraComParentesAmigosColegas) }}
    <br>
    {{ form_label(form.moraComOutraSituacao) }}
    {{ form_errors(form.moraComOutraSituacao) }}
    {{ form_widget(form.moraComOutraSituacao) }}
    <hr>
    <strong>Quantas pessoas moram na casa</strong><br>
    {{ form_label(form.quantasPessoasMoramNaCasa) }}
    {{ form_errors(form.quantasPessoasMoramNaCasa) }}
    {{ form_widget(form.quantasPessoasMoramNaCasa) }}
    <hr>
    <strong>Quantos filhos voce tem</strong><br>
    {{ form_label(form.numeroDeFilhos) }}
    {{ form_errors(form.numeroDeFilhos) }}
    {{ form_widget(form.numeroDeFilhos) }}
    <hr>
    <strong>Como e onde é a casa</strong><br>
    {{ form_label(form.moradiaTemColetaDeLixo) }}
    {{ form_errors(form.moradiaTemColetaDeLixo) }}
    {{ form_widget(form.moradiaTemColetaDeLixo) }}
    <br>
    {{ form_label(form.moradiaTemRedeDeEsgoto) }}
    {{ form_errors(form.moradiaTemRedeDeEsgoto) }}
    {{ form_widget(form.moradiaTemRedeDeEsgoto) }}
    <br>
    {{ form_label(form.moradiaTemAguaEncanada) }}
    {{ form_errors(form.moradiaTemAguaEncanada) }}
    {{ form_widget(form.moradiaTemAguaEncanada) }}
    <br>
    {{ form_label(form.moradiaTemEletricidade) }}
    {{ form_errors(form.moradiaTemEletricidade) }}
    {{ form_widget(form.moradiaTemEletricidade) }}
    <br>
    {{ form_label(form.moradiaTemRuaPavimentada) }}
    {{ form_errors(form.moradiaTemRuaPavimentada) }}
    {{ form_widget(form.moradiaTemRuaPavimentada) }}
    <br>
    {{ form_label(form.moradiaSituadaEmZonaRural) }}
    {{ form_errors(form.moradiaSituadaEmZonaRural) }}
    {{ form_widget(form.moradiaSituadaEmZonaRural) }}
    <br>
    {{ form_label(form.moradiaSituadaEmComunidadeQuilombolaOuIndigena) }}
    {{ form_errors(form.moradiaSituadaEmComunidadeQuilombolaOuIndigena) }}
    {{ form_widget(form.moradiaSituadaEmComunidadeQuilombolaOuIndigena) }}
    <hr>
    <strong>Tipo de moradia</strong><br>
    {{ form_label(form.tipoDeMoradia) }}
    {{ form_errors(form.tipoDeMoradia) }}
    {{ form_widget(form.tipoDeMoradia) }}
</div>
<!--<div class="spacer"></div>-->

<div id="questionario_2"> 
    <strong>Escolaridade</strong>
    <hr>
    {{ form_label(form.estudaAtualmente) }}
    {{ form_errors(form.estudaAtualmente) }}
    {{ form_widget(form.estudaAtualmente) }}
    <br>
    {{ form_label(form.escolaridade) }}
    {{ form_errors(form.escolaridade) }}
    {{ form_widget(form.escolaridade) }}
    <br>
    {{ form_label(form.temInteresseEmVoltarAEstudar) }}
    {{ form_errors(form.temInteresseEmVoltarAEstudar) }}
    {{ form_widget(form.temInteresseEmVoltarAEstudar) }}
    <hr>
    {{ form_label(form.temFilhosEmIdadeEscolar) }}
    {{ form_errors(form.temFilhosEmIdadeEscolar) }}
    {{ form_widget(form.temFilhosEmIdadeEscolar) }}
    <br>
    {{ form_label(form.temFilhosMatriculadosEmEscola) }}
    {{ form_errors(form.temFilhosMatriculadosEmEscola) }}
    {{ form_widget(form.temFilhosMatriculadosEmEscola) }}
</div>
<!--<div class="spacer"></div>-->

<div id="questionario_3"> 
    <strong>Saúde</strong><hr>
    <strong>Tem alguma deficiência</strong><br>
    {{ form_label(form.deficienciaFisica) }}
    {{ form_errors(form.deficienciaFisica) }}
    {{ form_widget(form.deficienciaFisica) }}
    <br>
    {{ form_label(form.deficienciaAuditiva) }}
    {{ form_errors(form.deficienciaAuditiva) }}
    {{ form_widget(form.deficienciaAuditiva) }}
    <br>
    {{ form_label(form.deficienciaMental) }}
    {{ form_errors(form.deficienciaMental) }}
    {{ form_widget(form.deficienciaMental) }}
    <br>
    {{ form_label(form.deficienciaVisual) }}
    {{ form_errors(form.deficienciaVisual) }}
    {{ form_widget(form.deficienciaVisual) }}
    <hr>
    <strong>Faz ou fez acompanhamento</strong><br>
    {{ form_label(form.fezOuFazAcompanhamentoNeurologico) }}
    {{ form_errors(form.fezOuFazAcompanhamentoNeurologico) }}
    {{ form_widget(form.fezOuFazAcompanhamentoNeurologico) }}
    <br>
    {{ form_label(form.fezOuFazAcompanhamentoPisicologico) }}
    {{ form_errors(form.fezOuFazAcompanhamentoPisicologico) }}
    {{ form_widget(form.fezOuFazAcompanhamentoPisicologico) }}
    <br>
    {{ form_label(form.fezOuFazOutrosAcompanhamentos) }}
    {{ form_errors(form.fezOuFazOutrosAcompanhamentos) }}
    {{ form_widget(form.fezOuFazOutrosAcompanhamentos) }}
    <br>
    {{ form_label(form.fezOuFazOutrosAcompanhamentosQuais) }}
    {{ form_errors(form.fezOuFazOutrosAcompanhamentosQuais) }}
    {{ form_widget(form.fezOuFazOutrosAcompanhamentosQuais) }}
    <hr>
    <strong>Faz uso de medicamento constante</strong><br>
    {{ form_label(form.fazUsoDeMedicacaoConstante) }}
    {{ form_errors(form.fazUsoDeMedicacaoConstante) }}
    {{ form_widget(form.fazUsoDeMedicacaoConstante) }}
    <br>
    {{ form_label(form.recebeMedicacaoDaFarmaciaDistrital) }}
    {{ form_errors(form.recebeMedicacaoDaFarmaciaDistrital) }}
    {{ form_widget(form.recebeMedicacaoDaFarmaciaDistrital) }}
    <hr>
    <strong>Domicílio coberto por UBS (Unidade Básica de Saúde) ou PSF (Programa de Saúde da Família)</strong><br>
    {{ form_label(form.domicilioCobertoPorUBSOuPSF) }}
    {{ form_errors(form.domicilioCobertoPorUBSOuPSF) }}
    {{ form_widget(form.domicilioCobertoPorUBSOuPSF) }}
    <hr>
    <strong>Pessoa idosa ou gestante na família</strong><br>
    {{ form_label(form.pessoaIdosaOuGestanteNaFamilia) }}
    {{ form_errors(form.pessoaIdosaOuGestanteNaFamilia) }}
    {{ form_widget(form.pessoaIdosaOuGestanteNaFamilia) }}
</div>
<!--<div class="spacer"></div>-->

<div id="questionario_4"> 
    <strong>SITUAÇÃO ECONÔMICA</strong><hr>
    <strong>Renda familiar aproximada (soma das rendas de todas as pessoas que moram com você)</strong><br>
    {{ form_label(form.rendaFamiliar) }}
    {{ form_errors(form.rendaFamiliar) }}
    {{ form_widget(form.rendaFamiliar) }}
    <hr>
    <strong>Algum membro da família participa ou recebe algum dos benefícios social</strong><br>
    {{ form_label(form.participaOuRecebePETIBolsaCriancaCidada) }}
    {{ form_errors(form.participaOuRecebePETIBolsaCriancaCidada) }}
    {{ form_widget(form.participaOuRecebePETIBolsaCriancaCidada) }}
    <br>
    {{ form_label(form.participaOuRecebeAgenteJovem) }}
    {{ form_errors(form.participaOuRecebeAgenteJovem) }}
    {{ form_widget(form.participaOuRecebeAgenteJovem) }}
    <br>
    {{ form_label(form.participaOuRecebeBolsaFamilia) }}
    {{ form_errors(form.participaOuRecebeBolsaFamilia) }}
    {{ form_widget(form.participaOuRecebeBolsaFamilia) }}
    <br>
    {{ form_label(form.participaOuRecebeBCP) }}
    {{ form_errors(form.participaOuRecebeBCP) }}
    {{ form_widget(form.participaOuRecebeBCP) }}
    <br>
    {{ form_label(form.participaOuRecebeNaoSabe) }}
    {{ form_errors(form.participaOuRecebeNaoSabe) }}
    {{ form_widget(form.participaOuRecebeNaoSabe) }}
    <br>
    {{ form_label(form.participaOuRecebeNaoRespondeu) }}
    {{ form_errors(form.participaOuRecebeNaoRespondeu) }}
    {{ form_widget(form.participaOuRecebeNaoRespondeu) }}
    <hr>
    <strong>Condição de trabalho</strong><br>
    {{ form_label(form.condicaoDeTrabalho) }}
    {{ form_errors(form.condicaoDeTrabalho) }}
    {{ form_widget(form.condicaoDeTrabalho) }}
    <hr>
    <strong>Despesas mensais</strong><br>
    {{ form_label(form.despesasMensaisAluguel) }}
    {{ form_errors(form.despesasMensaisAluguel) }}
    {{ form_widget(form.despesasMensaisAluguel) }}
    <br>
    {{ form_label(form.despesasMensaisPrestacaoHabitacao) }}
    {{ form_errors(form.despesasMensaisPrestacaoHabitacao) }}
    {{ form_widget(form.despesasMensaisPrestacaoHabitacao) }}
    <br>
    {{ form_label(form.despesasMensaisAgua) }}
    {{ form_errors(form.despesasMensaisAgua) }}
    {{ form_widget(form.despesasMensaisAgua) }}
    <br>
    {{ form_label(form.despesasMensaisLuz) }}
    {{ form_errors(form.despesasMensaisLuz) }}
    {{ form_widget(form.despesasMensaisLuz) }}
    <br>
    {{ form_label(form.despesasMensaisTelefone) }}
    {{ form_errors(form.despesasMensaisTelefone) }}
    {{ form_widget(form.despesasMensaisTelefone) }}
    <br>
    {{ form_label(form.despesasMensaisMedicamentos) }}
    {{ form_errors(form.despesasMensaisMedicamentos) }}
    {{ form_widget(form.despesasMensaisMedicamentos) }}
    <br>
    {{ form_label(form.despesasMensaisOutras) }}
    {{ form_errors(form.despesasMensaisOutras) }}
    {{ form_widget(form.despesasMensaisOutras) }}
</div>
<!--<div class="spacer"></div>-->

<div id="questionario_5"> 
    <strong>ENCAMINHAMENTO AO PROJETO</strong><hr>
    <strong>Por quem foi encaminhado ao projeto</strong><br>
    {{ form_label(form.encaminhamentoAoProjeto) }}
    {{ form_errors(form.encaminhamentoAoProjeto) }}
    {{ form_widget(form.encaminhamentoAoProjeto) }}
    {#<hr>
    <strong>Como ficou sabendo do projeto</strong><br>
    {{ form_label(form.comoFicouSabendoDoProjeto) }}
    {{ form_errors(form.comoFicouSabendoDoProjeto) }}
    {{ form_widget(form.comoFicouSabendoDoProjeto) }}#}
</div>
<!--<div class="spacer"></div>-->

<div id="questionario_6"> 
    <strong>OBSERVAÇÕES (Fatos informados pelo beneficiário)</strong><hr>
    {{ form_label(form.observacoes) }}
    {{ form_errors(form.observacoes) }}
    {{ form_widget(form.observacoes) }}
</div>

<hr>
<div class="spacer"></div>
<div class="spacer"></div>

<a href="#" id="pagina_voltar" class="btn">Voltar</a>
<a href="#" id="pagina_avancar" class="btn">Avançar</a>
<a id="cancelar" class="btn" href="#">Cancelar</a>
<div class="spacer"></div>
<div class="spacer"></div>


    {{ form_row(form.save) }}
    {{ form_end(form) }}






<script>

    $.ajax({
        url: Routing.generate('questionario_restore_from_session'),
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            
            if (response !== null) {
                response = $.parseJSON(response);
                
                //alert(response.mora_com_conjuge);
                
                $("#cadpazbundle_questionario_moradia").val(response.moradia);
                $('#cadpazbundle_questionario_moraSozinho').prop('checked',response.mora_sozinho==="true"?true:false);
                $('#cadpazbundle_questionario_moraComFilhos').prop('checked',response.mora_com_filhos==="true"?true:false);
                $('#cadpazbundle_questionario_moraComPaiMae').prop('checked',response.mora_com_pai_mae==="true"?true:false);
                $('#cadpazbundle_questionario_moraComIrmaos').prop('checked',response.mora_com_irmaos==="true"?true:false);
                $('#cadpazbundle_questionario_moraComConjuge').prop('checked',response.mora_com_conjuge==="true"?true:false);
                $('#cadpazbundle_questionario_moraComParentesAmigosColegas').prop('checked',response.mora_com_parentes_amigos_colegas==="true"?true:false);
                $('#cadpazbundle_questionario_moraComOutraSituacao').prop('checked',response.mora_com_outra_situacao==="true"?true:false);
                
                if (response.mora_sozinho==="true") {
                    $("#cadpazbundle_questionario_moraComFilhos").prop('disabled', true);
                    $("#cadpazbundle_questionario_moraComFilhos").prop('checked', false);
                    $("#cadpazbundle_questionario_moraComPaiMae").prop('disabled', true);
                    $("#cadpazbundle_questionario_moraComPaiMae").prop('checked', false);
                    $("#cadpazbundle_questionario_moraComIrmaos").prop('disabled', true);
                    $("#cadpazbundle_questionario_moraComIrmaos").prop('checked', false);
                    $("#cadpazbundle_questionario_moraComConjuge").prop('disabled', true);
                    $("#cadpazbundle_questionario_moraComConjuge").prop('checked', false);
                    $("#cadpazbundle_questionario_moraComParentesAmigosColegas").prop('disabled', true);
                    $("#cadpazbundle_questionario_moraComParentesAmigosColegas").prop('checked', false);
                    $("#cadpazbundle_questionario_moraComOutraSituacao").prop('disabled', true);
                    $("#cadpazbundle_questionario_moraComOutraSituacao").prop('checked', false);

                    $("#cadpazbundle_questionario_quantasPessoasMoramNaCasa").val(1);
                    $("#cadpazbundle_questionario_quantasPessoasMoramNaCasa").prop("readonly", true);
                }
                
                
                $('#cadpazbundle_questionario_quantasPessoasMoramNaCasa').val(response.quantas_pessoas_moram_na_casa);
                $('#cadpazbundle_questionario_numeroDeFilhos').val(response.numero_de_filhos);
                $('#cadpazbundle_questionario_moradiaTemColetaDeLixo').prop('checked', response.moradia_tem_coleta_de_lixo==="true"?true:false);
                $('#cadpazbundle_questionario_moradiaTemRedeDeEsgoto').prop('checked', response.moradia_tem_rede_de_esgoto ==="true"?true:false);
                $('#cadpazbundle_questionario_moradiaTemRuaPavimentada').prop('checked', response.moradia_tem_rua_pavimentada ==="true"?true:false);
                $('#cadpazbundle_questionario_moradiaSituadaEmZonaRural').prop('checked', response.moradia_situada_em_zona_rural==="true"?true:false);
                $('#cadpazbundle_questionario_moradiaTemAguaEncanada').prop('checked', response.moradia_tem_agua_encanada==="true"?true:false);
                $('#cadpazbundle_questionario_moradiaSituadaEmComunidadeQuilombolaOuIndigena').prop('checked', response.moradia_situada_em_comunidade_quilombola_ou_indigena==="true"?true:false);
                $('#cadpazbundle_questionario_moradiaTemEletricidade').prop('checked', response.moradia_tem_eletricidade==="true"?true:false);
                $('#cadpazbundle_questionario_tipoDeMoradia').val(response.tipo_de_moradia);
                
                
            
            
            
            
            
            
            
                $("#cadpazbundle_questionario_moradia").select2({width: '100%'});
                $('#cadpazbundle_questionario_tipoDeMoradia').select2({width: '100%'});
                $("#cadpazbundle_questionario_escolaridade").select2({width:'100%'});
                $('#cadpazbundle_questionario_rendaFamiliar').select2({width:'100%'});
                $('#cadpazbundle_questionario_condicaoDeTrabalho').select2({width:'100%'});
                $('#cadpazbundle_questionario_encaminhamentoAoProjeto').select2({width:'100%'});
                $('#cadpazbundle_questionario_comoFicouSabendoDoProjeto').select2({width:'100%'});
                
            }
        }
    });
           
           
           
           
    
    
    
    
    // Adiciona a classe btn ao botão de submit do form
    $("#cadpazbundle_questionario_save").addClass('btn');

    // Captura o evento toda vez que o checkbox é marcado ou desmarcado
    $("#cadpazbundle_questionario_moraSozinho").change(function() {
        if(this.checked) {
            $("#cadpazbundle_questionario_moraComFilhos").prop('disabled', true);
            $("#cadpazbundle_questionario_moraComFilhos").prop('checked', false);
            $("#cadpazbundle_questionario_moraComPaiMae").prop('disabled', true);
            $("#cadpazbundle_questionario_moraComPaiMae").prop('checked', false);
            $("#cadpazbundle_questionario_moraComIrmaos").prop('disabled', true);
            $("#cadpazbundle_questionario_moraComIrmaos").prop('checked', false);
            $("#cadpazbundle_questionario_moraComConjuge").prop('disabled', true);
            $("#cadpazbundle_questionario_moraComConjuge").prop('checked', false);
            $("#cadpazbundle_questionario_moraComParentesAmigosColegas").prop('disabled', true);
            $("#cadpazbundle_questionario_moraComParentesAmigosColegas").prop('checked', false);
            $("#cadpazbundle_questionario_moraComOutraSituacao").prop('disabled', true);
            $("#cadpazbundle_questionario_moraComOutraSituacao").prop('checked', false);
            
            $("#cadpazbundle_questionario_quantasPessoasMoramNaCasa").val(1);
            $("#cadpazbundle_questionario_quantasPessoasMoramNaCasa").prop("readonly", true);
        }
        else {
            $("#cadpazbundle_questionario_moraComFilhos").prop('disabled', false);
            $("#cadpazbundle_questionario_moraComPaiMae").prop('disabled', false);
            $("#cadpazbundle_questionario_moraComIrmaos").prop('disabled', false);
            $("#cadpazbundle_questionario_moraComConjuge").prop('disabled', false);
            $("#cadpazbundle_questionario_moraComParentesAmigosColegas").prop('disabled', false);
            $("#cadpazbundle_questionario_moraComOutraSituacao").prop('disabled', false);
            
            $("#cadpazbundle_questionario_quantasPessoasMoramNaCasa").prop("readonly", false);
        }
    });
    
    // Captura o evento toda vez que o checkbox é marcado ou desmarcado
    $("#cadpazbundle_questionario_estudaAtualmente").change(function() {
        if (this.checked) {
            $("#cadpazbundle_questionario_temInteresseEmVoltarAEstudar").prop('disabled', true);
            $("#cadpazbundle_questionario_temInteresseEmVoltarAEstudar").prop('checked', false);
        }
        else
        {
            $("#cadpazbundle_questionario_temInteresseEmVoltarAEstudar").prop('disabled', false);
        }
    });

    $("#cadpazbundle_questionario_temFilhosMatriculadosEmEscola").prop('disabled', true);
    $("#cadpazbundle_questionario_temFilhosEmIdadeEscolar").change(function () {
        if (this.checked) {
            $("#cadpazbundle_questionario_temFilhosMatriculadosEmEscola").prop('disabled', false);
        } else {
            $("#cadpazbundle_questionario_temFilhosMatriculadosEmEscola").prop('disabled', true);
            $("#cadpazbundle_questionario_temFilhosMatriculadosEmEscola").prop('checked', false);
        }
    });

    $("#cadpazbundle_questionario_fezOuFazOutrosAcompanhamentosQuais").prop('disabled', true);
    $("#cadpazbundle_questionario_fezOuFazOutrosAcompanhamentos").change(function() {
        if (this.checked) {
            $("#cadpazbundle_questionario_fezOuFazOutrosAcompanhamentosQuais").prop('disabled', false);
        } else {
            $("#cadpazbundle_questionario_fezOuFazOutrosAcompanhamentosQuais").prop('disabled', true);
            $("#cadpazbundle_questionario_fezOuFazOutrosAcompanhamentosQuais").val("");
        }
    });
    
    $("#cadpazbundle_questionario_recebeMedicacaoDaFarmaciaDistrital").prop('disabled', true);
    $("#cadpazbundle_questionario_fazUsoDeMedicacaoConstante").change(function() {
        if (this.checked) {
            $("#cadpazbundle_questionario_recebeMedicacaoDaFarmaciaDistrital").prop('disabled', false);
            
        } else {
            $("#cadpazbundle_questionario_recebeMedicacaoDaFarmaciaDistrital").prop('disabled', true);
            $("#cadpazbundle_questionario_recebeMedicacaoDaFarmaciaDistrital").prop('checked', false);
        }
    });

    
    jQuery('#cadpazbundle_questionario_quantasPessoasMoramNaCasa, #cadpazbundle_questionario_numeroDeFilhos').keyup(function (e) { 
        
        
        this.value = this.value.replace(/[^0-9\.]/g,'');
        
    });
    
    
    var pagina = 1;
    var pagina_min = 1;
    var pagina_max = 6;
    
    $("#questionario_2, #questionario_3, #questionario_4, #questionario_5, #questionario_6").hide();
    $("#pagina_voltar").css('color', 'grey');
    $("#pagina_voltar").css('cursor', 'default');
    
    $("#pagina_avancar").click(function(e){
       e.preventDefault();
       
       
       var ops = {
           'pessoa_id':'{{id}}'
       };
       
       ops.page = pagina;
       
       var ss = "#cadpazbundle_questionario_";
       switch (pagina)
       {
            case 1:
                ops.moradia = $("#cadpazbundle_questionario_moradia").val();
                ops.moraSozinho = $('#cadpazbundle_questionario_moraSozinho').is(':checked');
                ops.moraComFilhos = $('#cadpazbundle_questionario_moraComFilhos').is(':checked');
                ops.moraComPaiMae = $('#cadpazbundle_questionario_moraComPaiMae').is(':checked');
                ops.moraComIrmaos = $('#cadpazbundle_questionario_moraComIrmaos').is(':checked');
                ops.moraComConjuge = $('#cadpazbundle_questionario_moraComConjuge').is(':checked');
                ops.moraComParentesAmigosColegas = $('#cadpazbundle_questionario_moraComParentesAmigosColegas').is(':checked');
                ops.moraComOutraSituacao = $('#cadpazbundle_questionario_moraComOutraSituacao').is(':checked');
                ops.quantasPessoasMoramNaCasa = $('#cadpazbundle_questionario_quantasPessoasMoramNaCasa').val();
                ops.numeroDeFilhos = $('#cadpazbundle_questionario_numeroDeFilhos').val();
                ops.moradiaTemColetaDeLixo = $('#cadpazbundle_questionario_moradiaTemColetaDeLixo').is(':checked');
                ops.moradiaTemRedeDeEsgoto = $('#cadpazbundle_questionario_moradiaTemRedeDeEsgoto').is(':checked');
                ops.moradiaTemRuaPavimentada = $('#cadpazbundle_questionario_moradiaTemRuaPavimentada').is(':checked');
                ops.moradiaSituadaEmZonaRural = $('#cadpazbundle_questionario_moraComOutraSituacao').is(':checked');
                ops.moradiaTemAguaEncanada = $('#cadpazbundle_questionario_moradiaTemAguaEncanada').is(':checked');
                ops.moradiaSituadaEmComunidadeQuilombolaOuIndigena = $('#cadpazbundle_questionario_moradiaSituadaEmComunidadeQuilombolaOuIndigena').is(':checked');
                ops.moradiaTemEletricidade = $('#cadpazbundle_questionario_moradiaTemEletricidade').is(':checked');
                ops.tipoDeMoradia = $('#cadpazbundle_questionario_tipoDeMoradia').val();

                //ops.page = 1;
            break;
            case 2:
                ops.escolaridade                  = $("#cadpazbundle_questionario_escolaridade").val();
                ops.estudaAtualmente              = $("#cadpazbundle_questionario_estudaAtualmente").is(':checked');;
                ops.temInteresseEmVoltarAEstudar  = $("#cadpazbundle_questionario_temInteresseEmVoltarAEstudar").is(':checked');;
                ops.temFilhosEmIdadeEscolar       = $("#cadpazbundle_questionario_temFilhosEmIdadeEscolar").is(':checked');;
                ops.temFilhosMatriculadosEmEscola = $("#temFilhosMatriculadosEmEscola").is(':checked');;
                
                //ops.page = 2;
            break;
            case 3:
                ops.deficienciaFisica                  = $(ss+"deficienciaFisica").is(':checked');
                ops.deficienciaAuditiva                = $(ss+"deficienciaAuditiva").is(':checked');
                ops.deficienciaMental                  = $(ss+"deficienciaMental").is(':checked');
                ops.deficienciaVisual                  = $(ss+"deficienciaVisual").is(':checked');
                ops.fezOuFazAcompanhamentoNeurologico  = $(ss+"fezOuFazAcompanhamentoNeurologico").is(':checked');
                ops.fezOuFazAcompanhamentoPsicologico  = $(ss+"fezOuFazAcompanhamentoPsicologico").is(':checked');
                ops.fezOuFazOutrosAcompanhamentos      = $(ss+"fezOuFazOutrosAcompanhamentos").is(':checked');
                ops.fezOuFazOutrosAcompnhamentosQuais  = $(ss+"fezOuFazOutrosAcompnhamentosQuais").val();
                ops.fazUsoDeMedicacaoConstante         = $(ss+"fazUsoDeMedicacaoConstante").is(':checked');
                ops.redebeMedicacaoDaFarmaciaDistrital = $(ss+"redebeMedicacaoDaFarmaciaDistrital").is(':checked');
                ops.domicilioCobertoPorUBSOuPSF        = $(ss+"domicilioCobertoPorUBSOuPSF").is(':checked');
                ops.pessoaIdosaOuGestanteNaFamilia     = $(ss+"pessoaIdosaOuGestanteNaFamilia").is(':checked');
                
                //ops.page = 3;
            break;
            case 4:
                
                //ops.page = 4;
            break;
            case 5:
                
                //ops.page = 5;
            break;
            case 6:
                
                //ops.page = 6;
            break;
            default:
            break;
       }
       
        $.ajax({
            url: Routing.generate('questionario_save_to_session',ops),
            type: 'POST'
        });
       
       
       if (pagina >= pagina_max) {
            return;
       }
       
        $("#pagina_voltar").css('color', '#ffffff');
        $("#pagina_voltar").css('cursor', 'hand');
       
       $("#questionario_" + pagina++).slideUp('slow');
       $("#questionario_" + pagina).slideDown('slow');
       
       animar(pagina);
    });
    
    $("#pagina_voltar").click(function(e){
        e.preventDefault();
        
        if (pagina <= pagina_min) {
            
            return;
        }
        
        $("#pagina_avancar").css('color', '#ffffff');
        $("#pagina_avancar").css('cursor', 'hand');
            
        $("#questionario_" + pagina--).slideUp('slow');
        $("#questionario_" + pagina).slideDown('slow');
        
        animar(pagina);
    });
    
    function animar(page) {
        $('html, body').animate({
            scrollTop: $("#questionario_titulo").offset().top
        }, 2000);
        
        
        if (page == pagina_min) {
            $("#pagina_voltar").css('color', 'grey');
            $("#pagina_voltar").css('cursor', 'default');
        }
        else if (page == pagina_max) {
            $("#pagina_avancar").css('color', 'grey');
            $("#pagina_avancar").css('cursor', 'default');
        }
    }
    
    

        function showNewQuestionarioResponse(responseText, statusText, xhr, $form)  { 




                $("#questionario_area").html(responseText);
                //$("#userDetails").hide();
                //$("#userDetails").css('visibility','visible');
                //$("#userDetails").slideUp(400);
                //$("#userDetails").delay(600).slideDown(400);
            }

        var optionsQuestionario = {
          success: showNewQuestionarioResponse,
          type: 'post',
          url: Routing.generate('questionario_new',{'pessoa_id':{{id}}})
        };
        // bind form using 'ajaxForm' 
        $('#newQuestionarioForm').ajaxForm(optionsQuestionario);
        
        
        
        jQuery('#cancelar').on('click', function(e) {
        
            //$("#userDetails").slideUp('fast');
            $("#userDetails").html(window.userDetails);
            //$("#userDetails").slideDown('fast');

            e.preventDefault();
        });
    </script>