

     <div style="width: 100%; background: #ddd; font-weight: bold; text-align: center;">Questionário Sócio Econômico</div>

    <div class="spacer"></div>

<div id="questionario_composicao_familiar" style="border: 1px solid">
    <strong>COMPOSIÇÃO FAMILIAR / HABITAÇÃO</strong><hr>
    <strong>Como você mora atualmente</strong>
    {{ form_label(form.moradia) }}
    {{ form_errors(form.moradia) }}
    {{ form_widget(form.moradia) }}
    <hr>
    <strong>Quem mora com você</strong>
    {{ form_label(form.moraSozinho) }}
    {{ form_errors(form.moraSozinho) }}
    {{ form_widget(form.moraSozinho) }}
    <br>
    {{ form_label(form.moraComFilhos) }}
    {{ form_errors(form.moraComFilhos) }}
    {{ form_widget(form.moraComFilhos) }}
    <br>
    {{ form_label(form.moraComPaiMae) }}
    {{ form_errors(form.moraComPaiMae) }}
    {{ form_widget(form.moraComPaiMae) }}
    <br>
    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>
    {{ form_label(form.moraComConjuge) }}
    {{ form_errors(form.moraComConjuge) }}
    {{ form_widget(form.moraComConjuge) }}
    <br>
    {{ form_label(form.moraComParentesAmigosColegas) }}
    {{ form_errors(form.moraComParentesAmigosColegas) }}
    {{ form_widget(form.moraComParentesAmigosColegas) }}
    <br>
    {{ form_label(form.moraComOutraSituacao) }}
    {{ form_errors(form.moraComOutraSituacao) }}
    {{ form_widget(form.moraComOutraSituacao) }}
    <hr>
    <strong>Quantas pessoas moram na casa</strong>
    {{ form_label(form.quantasPessoasMoramNaCasa) }}
    {{ form_errors(form.quantasPessoasMoramNaCasa) }}
    {{ form_widget(form.quantasPessoasMoramNaCasa) }}
    <hr>
    <strong>Quantos filhos voce tem</strong>
    {{ form_label(form.numeroDeFilhos) }}
    {{ form_errors(form.numeroDeFilhos) }}
    {{ form_widget(form.numeroDeFilhos) }}
    <hr>
    <strong>Como e onde é a casa</strong>
    {{ form_label(form.moradiaTemColetaDeLixo) }}
    {{ form_errors(form.moradiaTemColetaDeLixo) }}
    {{ form_widget(form.moradiaTemColetaDeLixo) }}
    <br>
    {{ form_label(form.moradiaTemRedeDeEsgoto) }}
    {{ form_errors(form.moradiaTemRedeDeEsgoto) }}
    {{ form_widget(form.moradiaTemRedeDeEsgoto) }}
    <br>
    {{ form_label(form.moradiaTemRuaPavimentada) }}
    {{ form_errors(form.moradiaTemRuaPavimentada) }}
    {{ form_widget(form.moradiaTemRuaPavimentada) }}
    <br>
    {{ form_label(form.moradiaSituadaEmZonaRural) }}
    {{ form_errors(form.moradiaSituadaEmZonaRural) }}
    {{ form_widget(form.moradiaSituadaEmZonaRural) }}
    <br>
    {{ form_label(form.moradiaTemAguaEncanada) }}
    {{ form_errors(form.moradiaTemAguaEncanada) }}
    {{ form_widget(form.moradiaTemAguaEncanada) }}
    <br>
    {{ form_label(form.moradiaSituadaEmComunidadeQuilombolaOuIndigena) }}
    {{ form_errors(form.moradiaSituadaEmComunidadeQuilombolaOuIndigena) }}
    {{ form_widget(form.moradiaSituadaEmComunidadeQuilombolaOuIndigena) }}
    <br>
    {{ form_label(form.moradiaTemEletricidade) }}
    {{ form_errors(form.moradiaTemEletricidade) }}
    {{ form_widget(form.moradiaTemEletricidade) }}
    <hr>
    <strong>Tipo de moradia</strong>
    {{ form_label(form.tipoDeMoradia) }}
    {{ form_errors(form.tipoDeMoradia) }}
    {{ form_widget(form.tipoDeMoradia) }}
</div>
<div class="spacer"></div>

<div id="questinario_escolaridade" style="border: 1px solid"> 
    <strong>Escolaridade</strong>
    <hr>
    {{ form_label(form.estudaAtualmente) }}
    {{ form_errors(form.estudaAtualmente) }}
    {{ form_widget(form.estudaAtualmente) }}
    <br>
    {{ form_label(form.escolaridade) }}
    {{ form_errors(form.escolaridade) }}
    {{ form_widget(form.escolaridade) }}
    <br>
    {{ form_label(form.temInteresseEmVoltarAEstudar) }}
    {{ form_errors(form.temInteresseEmVoltarAEstudar) }}
    {{ form_widget(form.temInteresseEmVoltarAEstudar) }}
    <br><hr>
    {{ form_label(form.temFilhosEmIdadeEscolar) }}
    {{ form_errors(form.temFilhosEmIdadeEscolar) }}
    {{ form_widget(form.temFilhosEmIdadeEscolar) }}
    <br>
    {{ form_label(form.temFilhosMatriculadosEmEscola) }}
    {{ form_errors(form.temFilhosMatriculadosEmEscola) }}
    {{ form_widget(form.temFilhosMatriculadosEmEscola) }}
</div>
<div class="spacer"></div>

    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>
    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>
    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>
    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>
    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>
    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>
    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>
    {{ form_label(form.moraComIrmaos) }}
    {{ form_errors(form.moraComIrmaos) }}
    {{ form_widget(form.moraComIrmaos) }}
    <br>

<div class="spacer"></div>

<a class="cancel" href="#">Cancelar</a>


<script>

        function showNewQuestionarioResponse(responseText, statusText, xhr, $form)  { 




                $("#questionario_area").html(responseText);
                //$("#userDetails").hide();
                //$("#userDetails").css('visibility','visible');
                //$("#userDetails").slideUp(400);
                //$("#userDetails").delay(600).slideDown(400);
            }

        var optionsQuestionario = {
          success: showNewQuestionarioResponse,
          type: 'post',
          url: Routing.generate('questionario_new',{'pessoa_id':{{id}}})
        };
        // bind form using 'ajaxForm' 
        $('#newQuestionarioForm').ajaxForm(optionsQuestionario);
        
        
        
        jQuery('.cancel').on('click', function(e) {
        
            //$("#userDetails").slideUp('fast');
            $("#userDetails").html(window.userDetails);
            //$("#userDetails").slideDown('fast');

            e.preventDefault();
        });
    </script>