<div style="text-align: center">
    <h1>Configurações</h1>
</div>

<hr>
<h2>Tipos de casos</h2>

<div id="newTipoCasoArea" class="example" style="display: none; width: 400px; background: #FFF">
    <table>
    <tr>
        <td>Tipo</td>
        <td><input id="tipoCasoInput" type="text"></td>
    </tr>
    <tr>
        <td>Descrição</td>
        <td><input id="descricaoCasoInput" type="text"></td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="#" id="newTipoCasoLink">Cadastrar</a><br>
        </td>
    </tr>
    </table>
</div>
<a href="#" id="openNewTipoCasoLink">Cadastrar novo tipo</a>

<table id="casosTable" class="cell-border">
    <thead>
        <tr>
            <th>Tipo de caso</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for caso in casos %}
        <tr>
            <td>{{ caso.tipo }}</td>
            <td title="{{caso.descricao}}">{{ caso.descricao[:40] ~ '...' }}</td>
            <td id="{{caso.id}}">
                {% image '@CadpazBundle/Resources/public/images/button_edit2.png' %}
                <a class="configCasoLink" href="#editar"><img src="{{ asset_url }}" alt="Remover" /></a>
                {% endimage %}
                - 
                {% image '@CadpazBundle/Resources/public/images/button_delete2.png' %}
                <a class="configCasoLink" href="#remover"><img src="{{ asset_url }}" alt="Remover" /></a></td>
                {% endimage %}
        </tr>
    {% endfor %}
    </tbody>
</table>
    <hr>
    
    
<script>
    $('#casosTable').DataTable( {
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching":   false
    });
    
    /*$('#casosTable tr').click(function(e) {
        
        e.preventDefault();
        
        var href = $(this).find("a").attr("href");

        if(href) {


            alert(href);
            
            //$.ajax({url: href, success: function(result){  }});
        }
    });*/
    $(".configCasoLink").on('click',function(e){
        e.preventDefault();
        var id=$(this).closest('td').attr('id');
        //alert(id);
        if ($(this).attr('href') === '#editar') {
            $.ajax({
                url: Routing.generate('configuracoes_caso_tipo_edit',{'id':id}),
                success: function(responseText) {
                    
                    //alert(responseText);
                    

                    $('#newTipoCasoArea').html(responseText);


                    window.configPopup = $('#newTipoCasoArea').bPopup({
                            speed: 650,
                            transition: 'slideIn',
                            transitionClose: 'slideBack',
                        });
                }
            });
        } else if ($(this).attr('href') === '#remover') {
            Ply.dialog("confirm", "Tem certeza?")
            .done(function (ui) {
                // OK
                    })
            .fail(function (ui) {
                // Cancel
            })
            .always(function (ui) {
                if (ui.state) {
                    // Clicked "OK"
                    $.ajax({
                                    url: Routing.generate('configuracoes_caso_tipo_delete',{'id':id}),
                                    success: function(responseText) {
                                        

                                        $("#dataArea").html(responseText);
                                    }
                                });
                }
                else {
                    // Clicked "Cancel"
                    //   details: `ui.by` — "cancel", "overlay", "esc", "x"
                }
            });
        }
        
        e.preventDefault();
    });
    
    $("#openNewTipoCasoLink").on("click", function(e) {
        
        e.preventDefault();
        
        $.ajax({
            url: Routing.generate('configuracoes_caso_tipo_new'),
            success: function(responseText) {
                
                
                $('#newTipoCasoArea').html(responseText);
                
                
                window.configPopup = $('#newTipoCasoArea').bPopup({
                        speed: 650,
                        transition: 'slideIn',
                        transitionClose: 'slideBack',
                    });
            }
        });
        
        
    });
    
    
    
    
   /* 
    $("#newTipoCasoLink").on('click', function(e) {
        e.preventDefault();
       
        $.ajax({
            url: Routing.generate('configuracoes_caso_tipo_new'),
            type: 'POST',
            data: {
                'tipo': $('#tipoCasoInput').val(),
                'descricao': $('#descricaoCasoInput').val()
            },
            success: function(response) {
                if (response === 'ok')
                {
                    $('#confLink')[0].click();
                }
            }
        });
    });
    */
   
    $('td[title]').qtip();
</script>