{# Dedraks:ConfigBundle:views:Origem:list.html.twig #}
<div id="configOrigensArea">

<span style="font-weight: bold; font-size: large;">Origens (Quem enviou o cliente para atendimento)</span><br>

<div id="newOrigemArea" class="example" style="display: none; width: 400px; background: #FFF">
    <table>
    <tr>
        <td>Nome</td>
        <td><input id="nomeOrigemInput" type="text"></td>
    </tr>
    <tr>
        <td>Descrição</td>
        <td><input id="descricaoOrigemInput" type="text"></td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="#" id="newOrigemLink">Cadastrar</a>
        </td>
    </tr>
    </table>
</div>
<div style="text-align: right; padding-right: 20px; float: right">
    {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
        <a href="#" id="openNewOrigemLink"><img src="{{ asset_url }}" alt="Adicionar" /></a></td>
    {% endimage %}
</div>


<table id="origensTable" class="cell-border">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for origem in origens %}
        <tr>
            <td>{{ origem.nome }}</td>
            <td title="{{origem.descricao}}">{{ origem.descricao[:50] ~ '...' }}</td>
            <td id="{{origem.id}}">
                {% image '@CadpazBundle/Resources/public/images/button_edit2.png' %}
                <a class="configOrigemLink" href="#editar" title="Editar"><img src="{{ asset_url }}" alt="Editar" /></a>
                {% endimage %}
                - 
                {% image '@CadpazBundle/Resources/public/images/button_delete2.png' %}
                <a class="configOrigemLink" href="#remover" title="Remover"><img src="{{ asset_url }}" alt="Editar" /></a></td>
                {% endimage %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
    

<script>
    $('#origensTable').DataTable( {
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching":   false
    });
    
    $(".configOrigemLink").on('click',function(e){
        e.preventDefault();
        var id=$(this).closest('td').attr('id');
        //alert(id);
        if ($(this).attr('href') === '#editar') {
            $.ajax({
                //url: Routing.generate('configuracoes_caso_tipo_edit',{'id':id}),
                success: function(responseText) {
                    
                    //alert(responseText);
                    

                    $('#newOrigemArea').html(responseText);


                    window.configPopup = $('#newOrigemArea').bPopup({
                            speed: 650,
                            transition: 'slideIn',
                            transitionClose: 'slideBack',
                        });
                }
            });
        } else if ($(this).attr('href') === '#remover') {
            Ply.dialog("confirm", "Tem certeza?")
            .done(function (ui) {
                // OK
                    })
            .fail(function (ui) {
                // Cancel
            })
            .always(function (ui) {
                if (ui.state) {
                    // Clicked "OK"
                    $.ajax({
                                    //url: Routing.generate('configuracoes_caso_tipo_delete',{'id':id}),
                                    success: function(responseText) {
                                        

                                        $("#dataArea").html(responseText);
                                    }
                                });
                }
                else {
                    // Clicked "Cancel"
                    //   details: `ui.by` — "cancel", "overlay", "esc", "x"
                }
            });
        }
        
        e.preventDefault();
    });
    
    $("#openNewOrigemLink").on("click", function(e) {
        
        e.preventDefault();
        
        $.ajax({
            url: Routing.generate('configuracoes_origem_new'),
            success: function(responseText) {
                
                
                $('#newOrigemArea').html(responseText);
                
                
                window.configPopup = $('#newOrigemArea').bPopup({
                        speed: 650,
                        transition: 'slideIn',
                        transitionClose: 'slideBack'
                    });
            }
        });
        
        
    });
</script>

{% if not expandir %}
    <script>$('#configOrigensArea').addClass('oculto');</script>
{% endif %}    