<div class="meio">
    <div class="documentoTitulo">Cadastrar endereço</div>
    <div class="documento">
<div class="spacer"></div>

{#
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}#}

{{ form_start(form) }}
{{ form_errors(form) }}

    <div style="float: left; width: 48%">
    {{ form_label(form.nome) }}<br>
    {{ form_errors(form.nome) }}
    {{ form_widget(form.nome) }}
    </div>
    <div style="float: right; width: 48%"><br>
    {{ form_label(form.padrao) }}
    {{ form_errors(form.padrao) }}
    {{ form_widget(form.padrao) }}
    </div>
    <div class="spacer"></div>
    <div style="float: left; width: 48%">
    {{ form_label(form.cep) }}<br>
    {{ form_errors(form.cep) }}
    {{ form_widget(form.cep) }}
    </div>{#{% image '@CadpazBundle/Resources/public/images/search_icon.png' %}
                <a id="consultaCEP" href="#"><img src="{{ asset_url }}" alt="Example" /></a><br />
                {% endimage %}#}
    <div style="float: right; width: 48%">
    {{ form_label(form.logradouro) }}<br>
    {{ form_errors(form.logradouro) }}
    {{ form_widget(form.logradouro) }}
    </div>
    <div class="spacer"></div>
    <div style="float: left; width: 48%">
    {{ form_label(form.numero) }}<br>
    {{ form_errors(form.numero) }}
    {{ form_widget(form.numero) }}
    </div>
    <div style="float: right; width: 48%">
    {{ form_label(form.complemento) }}<br>
    {{ form_errors(form.complemento) }}
    {{ form_widget(form.complemento) }}
    </div>
    <div class="spacer"></div>
    <div style="float: left; width: 48%">
    {{ form_label(form.bairro) }}<br>
    {{ form_errors(form.bairro) }}
    {{ form_widget(form.bairro) }}
    </div>
    <div style="float: right; width: 48%">
    {{ form_label(form.municipio) }}<br>
    {{ form_errors(form.municipio) }}
    {{ form_widget(form.municipio) }}
    </div>
    <div class="spacer"></div>
    <div style="float: left; width: 48%">
    {{ form_label(form.uf) }}<br>
    {{ form_errors(form.uf) }}
    {{ form_widget(form.uf) }}
    </div>
    <div style="float: right; width: 48%">
    {{ form_label(form.obs) }}
    {{ form_errors(form.obs) }}
    {{ form_widget(form.obs) }}
    </div>
    <div class="spacer"></div>
    <br>
    <button type="submit">Salvar</button>
<button type="button" class="cancel">Cancelar</button>
{{ form_end(form) }}

<br>
</div>
</div>
{# {{ ro }} #}
<script>
    jQuery(function($){
                $("#cadpazbundle_endereco_cep").mask("99999-999",{placeholder:"_____-___"});
            });


        function showNewEnderecoResponse(responseText, statusText, xhr, $form)  { 

                $("#endereco_area").html(responseText);
            }
         
        function beforeSubmitEnderecoForm(formData, jqForm, options) {
            //alert(jqForm[0]);
        }

        var optionsEndereco = {
          success: showNewEnderecoResponse,
          beforeSubmit: beforeSubmitEnderecoForm,
          type: 'post',
          url: Routing.generate('endereco_new',{'pessoa_id':{{id}}})
        };
        // bind form using 'ajaxForm' 
        $('#newEnderecoForm').ajaxForm(optionsEndereco);
        
        jQuery('.cancel').on('click', function(e) {
        
            //$("#userDetails").slideUp('fast');
            $("#userDetails").html(window.userDetails);
            //$("#userDetails").slideDown('fast');

            e.preventDefault();
        });
        
        
        function buscaCEP(cep) {
            //var result = { 'logradouro'r:'', 'bairro':'', 'cidade':'', 'estado_info.nome':'' };
            $.ajax({
                url: 'http://api.postmon.com.br/v1/cep/' + cep,
                method: 'GET',
                dataType : "jsonp",
                success: function(result) {
                    $("#cadpazbundle_endereco_logradouro").val(result.logradouro);
                    $("#cadpazbundle_endereco_bairro").val(result.bairro);
                    $("#cadpazbundle_endereco_municipio").val(result.cidade);
                    $("#cadpazbundle_endereco_uf option:contains(" + result.estado_info.nome + ")").attr('selected', true);
                }
            });
        }
        
        $("#consultaCEP").on('click', function(e){
            e.preventDefault();
         
            buscaCEP($("#cadpazbundle_endereco_cep").val());        
        });
        
        $("#cadpazbundle_endereco_cep").keyup(function(e) {
            
            var searchText = $(this).val();
            
            if (searchText.length < 9) {
                return;
            }
            
            buscaCEP(searchText);
            $('#cadpazbundle_endereco_numero').focus();
        });
        
        
        function setSelectByText(eID,text)
        { //Loop through sequentially//
          var ele=document.getElementById(eID);
          for(var ii=0; ii<ele.length; ii++)
            if(ele.options[ii].text===text) { //Found!
              ele.options[ii].selected=true;
              return true;
            }
          return false;
        }
        
        function setSelectByValue(eID,val)
        { //Loop through sequentially//
          var ele=document.getElementById(eID);
          for(var ii=0; ii<ele.length; ii++)
            if(ele.options[ii].value===val) { //Found!
              ele.options[ii].selected=true;
              return true;
            }
          return false;
        }
        
        //$('#cadpazbundle_endereco_uf').select2();
    </script>