
<script type="text/javascript">
    {{ chart(chart) }}
</script>


{#<div style="width: 100%">
Total de casos atendidos: {{ total_casos }}<br>
</div>#}
<div style="text-align: center"><h3>Origens</h3></div>
<div class="spacer"></div>
<div style="clear: both"></div>
    
<div style="float: left; width: 35%">
{#Casos por tipo:<br>#}
<table id="tbl_ori" class="display compact">
    <thead class="tabela_pequena">
        <tr>
            <th>Encaminhamento</th>
            <th>Percentual</th>
        </tr>
    </thead>
    <tbody class="tabela_pequena">
        
{% for origem in origens %}
    <tr>
        <td>{{ origem.origem }}</td><td> {{ (origem.total/total_origens*100)|number_format(1) }}%</td>
    </tr>
{% endfor %}
    {#<tr>
        <td>Total geral</td><td>{{ total_origens }}</td>
    </tr>#}
    </tbody>
</table>
</div>

<div style="float: right; width: 65%">
<div id="piechart_origens" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>
<div style="clear: both"></div>