<div class="meio">
<div class="documentoTitulo">Cadastrar telefone</div>
<div class="documento">
<div class="spacer"></div>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Salvar</button>
<button type="button" class="cancel" href="#">Cancelar</button>
{{ form_end(form) }}
<br>
</div>
</div>
{# {{ ro }} #}
<script>

        function showNewTelefoneResponse(responseText, statusText, xhr, $form)  { 




                //$("#userDetails").html(responseText);
                $("#telefone_area").html(responseText);
            }
         
        function beforeSubmitTelefoneForm(formData, jqForm, options) {
            //alert(jqForm[0]);
        }

        var optionsTelefone = {
          success: showNewTelefoneResponse,
          beforeSubmit: beforeSubmitTelefoneForm,
          type: 'post',
          url: Routing.generate('telefone_new',{'pessoa_id':{{id}}})
        };
        // bind form using 'ajaxForm' 
        $('#newTelefoneForm').ajaxForm(optionsTelefone);
        
        jQuery('.cancel').on('click', function(e) {
        
            //$("#userDetails").slideUp('fast');
            $("#userDetails").html(window.userDetails);
            //$("#userDetails").slideDown('fast');
            e.preventDefault();
        });
        
        
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(99) 0-0000-0000' : '(00) 0000-00009';
          },
        spOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };
        $('#cadpazbundle_telefone_numero').mask(SPMaskBehavior, spOptions);
        /*jQuery(function($){
                $("#cadpazbundle_telefone_numero").mask("(99) 099999999");
            });*/
    </script>