{# CadpazBundle/Resources/view/Pessoa/index.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Cadpaz{% endblock %}
{% block stylesheets %}
    {% stylesheets 'bundles/cadpaz/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@CadpazBundle/Resources/public/plugins/datepicker/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
	body{display:none;}
	#username { width: 98%; }
	#password { width: 98%; }
	#_submit { width: 100%; }
	#userAreaEdit a { display: none; }
    </style>

{% endblock %}

{% block body %}

<noscript>
    <style>
        #container {
            display: none;
        }
    </style>
    <h2>É necessário javascript habilitado para o correto funcionamento do sistema.</h2>
</noscript>
    

<div id="container" style="min-height: 500px">
    <div id="titleArea" style="width: 825px;">
        <div id="title">Cadpaz</div>
    </div>
    <div class="spacer" ></div>
    
    
   
    <div id="userAreaEdit" class="example" style="display: none; width: 340px; background: #FFF;"></div>
   
    
    
    
    <div id="userArea" style="width: 825px; font-size: small">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>Olá
                <a id="userAreaEditLink" href="{{ path('fos_user_profile_edit') }}">
                {% if app.user.nomeCompleto is null %}
                    {{ app.user.username }}
                {% else %}
                    {{ app.user.nomeCompleto }}
                {% endif %}
                </a>
                (<a id="userAreaChangePwdLink" href="{{ path('fos_user_change_password') }}">Alterar senha</a>)
                (<a href="{{ path('fos_user_security_logout') }}">Sair</a>)
		{% if is_granted('ROLE_ADMIN') %}
                	<div id="menuArea" style="float: right">
                            {% image '@CadpazBundle/Resources/public/images/button_config2.png' %}
                                <a class="menuLink" href="{{path('dedraks_config_homepage')}}"><img src="{{ asset_url }}" title="Configurações" /></a>
                            {% endimage %} &nbsp;
                            {% image '@CadpazBundle/Resources/public/images/button_chart2.png' %}
                                <a class="menuLink" id="confLink" href="{{path('relatorios_index')}}"><img src="{{ asset_url }}" title="Relatórios" /></a>
                            {% endimage %}
                            {#<a class="menuLink" id="confLink" href="{{path('dedraks_config_homepage')}}">Configurações</a> | <a class="menuLink" href="{{path('relatorios_index')}}">Relatórios</a>#}
                        </div>
		{% endif %}
            </div>
        {% else %}
            Efetuar <a id="userLoginLink" href="{{ path('fos_user_security_login') }}">login</a>
        {% endif %}
    </div>
    <div class="spacer"></div>
    <div id="formArea">
        <form id="form2" class="form-wrapper2 cf" action="{{ path('pessoa_busca') }}">
            <input id="nome" class="saida" name="nome" type="text" placeholder="Pesquisar Nome..." autocomplete="off" required>
            <button id="botaoBuscar">Pesquisar</button>
        </form> 
        <form id="form1" class="form-wrapper cf" action="{{ path('pessoa_busca') }}">
            <input id="cpf" class="saida" name="cpf" type="text" placeholder="Pesquisar CPF..." required>
            <button id="botaoValidarCPF">Pesquisar</button>
        </form> 
    </div>
    <div class="spacer"></div>
    
    <div id="dataArea"></div>
    
    
    <div id="userDetails" class="example" style="width: 825px;"></div>
    
    <div class="spacer"></div>
    
    
    

    
    
    <div id="rodape" class="example" style="vertical-align: bottom; width: 825px;">
                <div style="background: #FFF; text-align: right; font-size: small">
                    <strong>Desenvolvimento:</strong> Carlos Alberto Borges Garcia Jr - dedraks@gmail.com
                </div>
            </div>
</div>

            
            
            
        <div class="modal"><!-- Place at bottom of page --><h3>Carregando...</h3></div>
        
{% endblock %}
{% block javascripts %}
    {% javascripts '@CadpazBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@CadpazBundle/Resources/public/plugins/datepicker/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@CadpazBundle/Resources/public/plugins/highcharts/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>


    {# Código principal da aplicação aqui #}
    {% javascripts '@AppBundle/Resources/public/js/app.js' %}
        <script src="{{ asset_url }}"></script> {# app.js #}
    {% endjavascripts %}


   
    <script>
        $(window).load(function() {
            // When the page has loaded
            $("body").fadeIn(2000);
        });
    </script>
{% endblock %}
