{# CadpazBundle/Resources/view/Pessoa/index.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Cadpaz{% endblock %}
{% block stylesheets %}
    {% stylesheets 'bundles/cadpaz/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@CadpazBundle/Resources/public/plugins/datepicker/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    
    {#<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />#}

{% endblock %}

{% block body %}


<div id="container" style="min-height: 500px">
    <div id="titleArea">
        <div id="title">Cadpaz</div>
    </div>
    <div class="spacer" ></div>
    
    
   
    <div id="userAreaEdit" class="example" style="display: none; width: 500px; background: #FFF;"></div>
   
    
    
    
    <div id="userArea">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>Olá
                <a id="userAreaEditLink" href="{{ path('fos_user_profile_edit') }}">
                {% if app.user.nomeCompleto is null %}
                    {{ app.user.username }}
                {% else %}
                    {{ app.user.nomeCompleto }}
                {% endif %}
                </a>
                (<a id="userAreaChangePwdLink" href="{{ path('fos_user_change_password') }}">Alterar senha</a>)
                (<a href="{{ path('fos_user_security_logout') }}">Sair</a>)
                <div id="menuArea" style="float: right"><a class="menuLink" id="confLink" href="{{path('dedraks_config_homepage')}}">Configurações</a> | <a class="menuLink" href="{{path('relatorios_index')}}">Relatórios</a></div>
            </div>
        {% else %}
            Efetuar <a id="userLoginLink" href="{{ path('fos_user_security_login') }}">login</a>
        {% endif %}
    </div>
    <div class="spacer"></div>
    <div id="formArea">
        <form id="form2" class="form-wrapper2 cf" action="{{ path('pessoa_busca') }}">
            <input id="nome" class="saida" name="nome" type="text" placeholder="Pesquisar Nome..." autocomplete="off" required>
            <button id="botaoBuscar">Pesquisar</button>
        </form> 
        <form id="form1" class="form-wrapper cf" action="{{ path('pessoa_busca') }}">
            <input id="cpf" class="saida" name="cpf" type="text" placeholder="Pesquisar CPF..." required>
            <button id="botaoValidarCPF">Pesquisar</button>
        </form> 
    </div>
    <div class="spacer"></div>
    
    <div id="dataArea"></div>
    
    
    <div id="userDetails" class="example"></div>
    
    <div class="spacer"></div>
    
    <div id="rodape" class="example" style="vertical-align: bottom; width: 825px;">
                <div style="background: #FFF; text-align: right; font-size: small">
                    Desenvolvimento: Carlos Alberto Borges Garcia Jr - dedraks@gmail.com
                </div>
            </div>
</div>

            
            
            
        <div class="modal"><!-- Place at bottom of page --><h3>Carregando...</h3></div>
{% endblock %}
{% block javascripts %}
    {% javascripts '@CadpazBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@CadpazBundle/Resources/public/plugins/datepicker/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@CadpazBundle/Resources/public/plugins/highcharts/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>


    {# Código principal da aplicação aqui #}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script> {# app.js #}
    {% endjavascripts %}


   
    
    
    
    
    
{% endblock %}
