{% extends "::base.html.twig" %}

{% block title %}Cadpaz - Cadastro de Pessoas{% endblock %}
{% block stylesheets %}
    {% stylesheets '@CadpazBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}


<div id="container">
    <div id="titleArea">
        <div id="title">Cadpaz</div>
    </div>
    <div class="spacer"></div>
    <div id="userArea">
        <div>Olá
            <a href="{{ path('fos_user_profile_edit') }}">
            {% if app.user.nomeCompleto is null %}
                {{ app.user.username }}
            {% else %}
                {{ app.user.nomeCompleto }}
            {% endif %}
            </a>
            (<a href="{{ path('fos_user_change_password') }}">Alterar senha</a>)
            (<a href="{{ path('fos_user_security_logout') }}">Sair</a>)</div>
    </div>
    <div class="spacer"></div>
    <div id="formArea">
        <form id="form2" class="form-wrapper2 cf" action="{{ path('pessoa_busca') }}">
            <input id="nome" class="saida" name="nome" type="text" placeholder="Pesquisar Nome..." required>
            <button id="botaoBuscar">Pesquisar</button>
        </form> 
        <form id="form1" class="form-wrapper cf" action="{{ path('pessoa_busca') }}">
            <input id="cpf" class="saida" name="cpf" type="text" placeholder="Pesquisar CPF..." required>
            <button id="botaoValidarCPF">Pesquisar</button>
        </form> 
    </div>
    <div class="spacer"></div>
    <div id="tableArea">
        <table id="example" class="example" cellspacing="2" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nome da mãe</th>
                    <th>Email</th>
                    <th>CPF</th>
                </tr>
            </thead>

        </table>
        
    </div>
    <div id="userDetails" class="example"></div>
    
</div>
{% endblock %}
{% block javascripts %}
    {% javascripts '@CadpazBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        // prepare the form when the DOM is ready
        var ids = new Array();
        $(document).ready(function() {
            jQuery(function($){
                $("#cpf").mask("999.999.999-99",{placeholder:"___.___.___-__"});
            });
            
            
            var myTimer = setTimeout(function(){
                alert('Boom!');
            }, 10000);
            clearTimeout(myTimer);
            
            
            var options = { 
                //target:        '#saida',   // target element(s) to be updated with server response 
                //beforeSubmit:  showRequest,  // pre-submit callback 
                success:       showResponse,  // post-submit callback 

                // other available options: 
                //url:       Routing.generate('pessoa_busca', {id: '11111111111'})         // override for form's 'action' attribute 
                type:      'post',        // 'get' or 'post', override for form's 'method' attribute 
                dataType:  'json'        // 'xml', 'script', or 'json' (expected server response type) 
                //clearForm: true        // clear all form fields after successful submit 
                //resetForm: true        // reset the form after successful submit 

                // $.ajax options can be used here too, for example: 
                //timeout:   3000 
            }; 

            // bind form using 'ajaxForm' 
            $('#form1').ajaxForm(options); 
            $('#form2').ajaxForm(options); 
        }); 
        
        /*function showRequest(formData, jqForm, options)
        {
            var text = $.param(formData); 
            
            text = text.replace(".", "");
            text = text.replace(".", "");
            text = text.replace("-", "");
            text = text.replace("cpf=", "");
            //alert(text);
        }*/
        
        
        function itemToTr(item)
        {
            var str = '';
            var date = new Date(item.data_nascimento);
            var m = (date.getMonth()+1);
            var d = date.getDay();
            str += '<tr id=\"tr'+item.id+'\"><td><a class=\"trlink\" href=\"' + Routing.generate('pessoa_view', {id: item.id}) + '\">' + item.nome + '</a></td><td>' + item.nome_mae + '</td><td>' + item.email + '</td><td>' + item.cpf + '</td></tr>';
            return str;
        }
        // post-submit callback 
        function showResponse(responseText, statusText, xhr, $form)  { 
            ok(responseText);
        }
        function ok(responseText){
            // for normal html responses, the first argument to the success callback 
            // is the XMLHttpRequest object's responseText property 

            // if the ajaxForm method was passed an Options Object with the dataType 
            // property set to 'xml' then the first argument to the success callback 
            // is the XMLHttpRequest object's responseXML property 

            // if the ajaxForm method was passed an Options Object with the dataType 
            // property set to 'json' then the first argument to the success callback 
            // is the json data object returned by the server 

            //alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
            //    '\n\nThe output div should have already been updated with the responseText.'); 
        
        
            /*
            if (statusText!='success') {
                $("#saida").html('Nenhum registro encontrado');
                alert('Nenhum registro encontrado');
                return;
            }*/
        
            //$('#userDetails').css('visibility','hidden');
            $('#userDetails').slideUp('slow');
            
            
            $('#example').css('visibility','hidden');
            $('#example').html('<thead><tr><th>Nome</th><th>Data de Nascimento</th><th>Email</th><th>CPF</th></tr></thead>');
            var item = $.parseJSON(responseText);
                
            $('#example').slideUp(200);
            if ($.isArray(item)) {
                
                $('#example').css('visibility','visible');
                    
                if (item.length>0)
                    $('#example').slideDown(200);
                    
                for (i=0; i<item.length; i++) {
                    
                    ids.push(item[i].id);
                        
                    var trHTML = itemToTr(item[i]);

                    $('#example').append(trHTML);
                    //$('#example').hide();
                    //$('#example').css('visibility','visible');
                    //$('#example').show('slow');
                    //$('#example').clearQueue();
                    
                }
                
                $('#example tr').click(function() {
            
                    var href = $(this).find("a").attr("href");

                    if(href) {

                        //window.location = href;
                        //alert(href);
                        $(this).find("a").attr("href","#");
                        //$(this).click(function(){
                            $.ajax({url: href, success: function(result){
                                $("#userDetails").html('<div class=\"meio\">'+result+'</div>');
                                //$("#example").css('visibility','hidden');
                                $("#userDetails").hide();
                                $("#userDetails").css('visibility','visible');
                                //$("#example").hide('slow', function() {$("#userDetails").show('slow');});
                                //$("#example").empty();
                                $("#example").slideUp(400);
                                $("#userDetails").delay(600).slideDown(400);
                                $("#nome").val('');
                                $("#cpf").val('');
                            }});
                        //}); 
                    }
                });
            }
            else {
                    
                /*var trHTML = itemToTr(item);
                    
                $('#example').append(trHTML);
                $('#example').hide();
                $('#example').css('visibility','visible');
                //$('#example').show('slow');
                $('#userDetails').slideUp('slow');
                $('#example').delay(500).slideDown(400);*/
                
                
                
                $.ajax({url: Routing.generate('pessoa_view', {id: item.id}), success: function(result){
                            $("#userDetails").html('<div class=\"meio\">'+result+'</div>');
                            //$("#example").css('visibility','hidden');
                            $("#userDetails").hide();
                            $("#userDetails").css('visibility','visible');
                            //$("#example").hide('slow', function() {$("#userDetails").show('slow');});
                            //$("#example").empty();
                            $("#example").slideUp(400);
                            $("#userDetails").delay(600).slideDown(400);
                            $("#nome").val('');
                            $("#cpf").val('');
                        }});
            }        
        }
    </script>
    
    
    <script type="text/javascript">
        $('#form2').keyup(function(event) {

            if (event.which == 27 || event.which == 13)
            {
                event.preventDefault();
                return;
            }

            var searchText = $("#nome").val();

            if (searchText.length < 5)
                return;

            $.ajax({
                url: Routing.generate('pessoa_busca'),
                data: {'nome':searchText},
                success: showResponse,
                type: 'post'
            });
       });
    </script>

    
    <script type="text/javascript">
    /*var CPF = new CPF();
    document.getElementById('cpf').mas
document.getElementById('botaoValidarCPF').onclick = function(){
    document.getElementById('saida').innerHTML = CPF.valida(document.getElementById('cpf').value);
};*/

/*
$( "#form1" ).submit(function( event ) {
    var inputtedPhoneNumber = $( "#cpf" ).val();
 
 
 
    // If the phone number doesn't match the regex
    if ( !isCPF( inputtedPhoneNumber ) ) {
 
        $("#saida").html('CPF Inválido!');
        event.preventDefault();
    } else {
 
        // Run $.ajax() here
    }
});*/
    </script>
{% endblock %}
