<div class="meio">

     <div class="documentoTitulo">PIS</div>

     <div class="documento">
    <div class="spacer"></div>
<input name="obter" type="radio" value="nao" checked>Apenas registrar que possui RG
<br>
<input name="obter" type="radio" value="sim">Obter dados
<br>
    
<div id="obterPisArea" style="display: none">    
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
<br>
<button type="button" id="savePisButton">Salvar</button>
<button type="button" class="cancel">Cancelar</button>
<div class="spacer"></div>
</div>
</div>
<script>
    function validate(formData, jqForm, options)
    {
        if (!validateForm(formData, jqForm, options)) {
            Ply.dialog("alert", "Todos os campos devem ser preenchidos.");
            return false;
        }
        return true;
    }
    


        function showNewPisResponse(responseText, statusText, xhr, $form)  { 




                $("#userDetails").html(responseText);
                //$("#userDetails").hide();
                //$("#userDetails").css('visibility','visible');
                //$("#userDetails").slideUp(400);
                //$("#userDetails").delay(600).slideDown(400);
            }

        var optionsPisValidar = {
          success: showNewPisResponse,
          type: 'post',
          beforeSubmit: validate,
          url: Routing.generate('pessoa_pis_new',{'id':{{id}}})
        };
        var optionsPisNaoValidar = {
            success: showNewPisResponse,
            type: 'post',
            url: Routing.generate('pessoa_pis_new',{'id':{{id}}})
        };
        // bind form using 'ajaxForm' 
        $('#newPisForm').ajaxForm(optionsPisNaoValidar);
        
        
        
        jQuery('.cancel').on('click', function(e) {
        
            //$("#userDetails").slideUp('fast');
            $("#userDetails").html(window.userDetails);
            //$("#userDetails").slideDown('fast');

            e.preventDefault();
        });
        
        $('input[name=obter]').on('change', function() {
            //alert('ok');
            if ( $("input[name=obter]:checked").val() === 'sim'  ) {
                $("#obterPisArea").show('slow');                
                $('#newPisForm').ajaxForm(optionsPisValidar);
            }
            else {
                $("#cadpazbundle_pis_numero").val('');
                $("#cadpazbundle_pis_dataExpedicao").val('');

                $('#newPisForm').ajaxForm(optionsPisNaoValidar);
                $("#obterPisArea").hide('slow');
            }
        });
        
        $('#savePisButton').on('click', function(e) {
            e.preventDefault();
            $('#newPisForm').submit();
        });
    </script>