<strong>{{ pessoa.nome }} (<a id="closeUser" href="#">fechar</a>)</strong>
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Dados Pessoais</a></li>
        <li><a href="#tab2">Telefones e Endereços</a></li>
        <li><a href="#tab3">Dados Sócio Econômicos</a></li>
        <li><a href="#tab4">Casos</a></li>
    </ul><!-- tab-links -->
 
    <div class="tab-content">
        <div id="tab1" class="tab active"> {# Tab principal #}
            
    <strong>Dados Pessoais</strong>
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_edit2.png' %}
        <a title='Editar os dados do beneficiário' id="editlink" href="{{ path('pessoa_edit', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a>
        {% endimage %}
        {% endif %}
    <br />
    Nome: {{ pessoa.nome }}<br />
    Data de nascimento: {{ pessoa.dataNascimento|date('d/m/Y') }}<br />
    {% set difference = date(pessoa.dataNascimento|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
    {% set idade = difference.y %}
    Idade atual: {{ idade  }}<br>
    {% set difference = date(pessoa.dataNascimento|date('Y/m/d')).diff(date(pessoa.dataCadastro|date('Y/m/d'))) %}
    {% set idade = difference.y %}
    Idade quando foi cadastrado: {{ idade }}<br>
    
    Email: {{ pessoa.email }}<br />
    Sexo:
        {% if pessoa.sexo == 'M' %}
            Masculino
        {% elseif pessoa.sexo == 'F' %}
            Feminino
        {% else %}
            Outros
        {% endif %}
    <br />
    CPF: <span class="pessoaViewCpf">{{ pessoa.cpf }}</span>
    <div class="spacer"></div>
    <div id="rg_area">
        {{ pessoa.rg is not null ? '<div class="documentoTitulo">' : '<div>' }}
            RG:
    {% if pessoa.rg is null %}Não possui
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
        <a id="rg" href="{{ path('pessoa_rg_new', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
        {% endimage %}
        {% endif %}</div>
    {% else %}
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_edit2.png' %}
        <a id="rg" href="{{ path('pessoa_rg_new', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a>
        {% endimage %}
        {% endif %}</div>
        <div class="documento">
        {#{% image '@CadpazBundle/Resources/public/images/button_delete2.png' %}
        <a id="rg_del" class="confirm" href="{{ path('pessoa_rg_del', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
        {% endimage %}#}
        {% if pessoa.rg.numero is not null %}
            Número: {{ pessoa.rg.numero }}<br />
            Data de expedição: {{ pessoa.rg.dataExpedicao | date('d/m/Y') }}<br />
            Órgão expedidor: {{ pessoa.rg.orgaoExpedidor }}<br />
        {% else %}
            Possui. Número não obtido.
        {% endif %}
        </div>
    {% endif %}
    </div>
    <div class="spacer"></div>
    <div id="te_area">
        {{ pessoa.titulo is not null ? '<div class="documentoTitulo">' : '<div>' }}
            Título Eleitoral:
    {% if pessoa.titulo is null %}Não possui
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
        <a id="te" href="{{ path('pessoa_titulo_new', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
        {% endimage %}
        {% endif %}</div>
        
    {% else %}
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_edit2.png' %}
        <a id="te" href="{{ path('pessoa_titulo_new', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a>
        {% endimage %}
        {% endif %}</div>
        
        {#{% image '@CadpazBundle/Resources/public/images/button_delete2.png' %}
        <a id="te_del" href="{{ path('pessoa_titulo_del', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
        {% endimage %}#}
        <div class="documento">
        {% if pessoa.titulo.numero is not null %}
            Número: {{ pessoa.titulo.numero | default("Não cadastrado")}}<br />
            Zona: {{ pessoa.titulo.zona | default("Não cadastrado")}}<br />
            Seção: {{ pessoa.titulo.secao | default("Não cadastrado")}}<br />
            Data de emissão: {{ pessoa.titulo.dataEmissao | date('d/m/Y') }}<br />
            Município: {{ pessoa.titulo.municipio | default("Não cadastrado")}}<br />
            UF: {{ pessoa.titulo.uf | default("Não cadastrado")}}<br />
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;Possui. Número não obtido.
        {% endif %}
        </div>
    {% endif %}
    </div>
    <div class="spacer"></div>
    <div id="pis_area">
        {{ pessoa.pis is not null ? '<div class="documentoTitulo">' : '<div>' }}
    PIS:
    {% if pessoa.pis is null %}Não possui
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
        <a id="pis" href="{{ path('pessoa_pis_new', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
        {% endimage %}
        {% endif %}</div>
    {% else %}
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_edit2.png' %}
        <a id="pis" href="{{ path('pessoa_pis_new', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
        {% endimage %}
        {% endif %}</div>
        <div class="documento">
            {% if pessoa.pis.numero is not null %}
                Número: {{ pessoa.pis.numero | default("Não cadastrado")}}<br />
                Data de emissão: {{ pessoa.pis.dataEmissao | date('d/m/Y') }}<br />
            {% else %}
                Possui. Número não obtido.
            {% endif %}
        </div>
    {% endif %}
    </div>
    <div class="spacer"></div>
    <div id="ctps_area">
    {{ pessoa.ctps is not null ? '<div class="documentoTitulo">' : '<div>' }}
    CTPS:
    {% if pessoa.ctps is null %}Não possui
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
        <a id="ctps" href="{{ path('pessoa_ctps_new', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a>
        {% endimage %}
        {% endif %}</div>
    {% else %}
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_edit2.png' %}
        <a id="ctps" href="{{ path('pessoa_ctps_new', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a>
        {% endimage %}
        {% endif %}</div>
        
        {#{% image '@CadpazBundle/Resources/public/images/button_delete2.png' %}
        <a id="ctps_del" href="{{ path('pessoa_ctps_del', {'id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
        {% endimage %}#}
        <div class="documento">
        {% if pessoa.ctps.numero is not null %}
            Número: {{ pessoa.ctps.numero | default("Não cadastrado")}}<br />
            Série: {{ pessoa.ctps.serie | default("Não cadastrado")}}<br />
            UF: {{ pessoa.ctps.uf | default("Não cadastrado")}}<br />
        {% else %}
            Possui. Número não obtido.
        {% endif %}
        </div>
    {% endif %}
    </div>
    Possui certidão de nascimento: {% if pessoa.certidaoNascimento %}Sim{% else %}Não{% endif %}<br />
    Possui certidão de casamento: {% if pessoa.certidaoCasamento %}Sim{% else %}Não{% endif %}<br />
    Possui cartão de vacina: {% if pessoa.cartaoVacina %}Sim{% else %}Não{% endif %}<br />
    Estado Civil: {{ pessoa.estadoCivil }}<br />
    Nome da mãe: {{ pessoa.nomeMae }}<br />
    Cor infomada: {{ pessoa.corInformada }}<br />
    Data de cadastro: {{ pessoa.dataCadastro | date('d/m/Y') }}<br />

        </div>
 
        <div id="tab2" class="tab">
            
                <strong>Telefones</strong>
                <div style="float: right">
                {% if is_granted('ROLE_EDITOR') %}
                {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
                <a id="telefone" href="{{ path('telefone_new', {'pessoa_id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
                {% endimage %}
                {% endif %}
                </div>
                <div class="spacer"></div>
                
                <div id="new_telefone_area"></div>
                <div id="telefone_area">
                
                    {% render controller('CadpazBundle:Telefone:index', {'pessoa_id': pessoa.id}) %}
                
                </div>
                
                <!--<div class="spacer"></div>-->
                <strong>Endereços</strong>
                <div style="float: right">
                {% if is_granted('ROLE_EDITOR') %}
                {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
                <a id="endereco" href="{{ path('endereco_new', {'pessoa_id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
                {% endimage %}
                {% endif %}
                </div>
                <div class="spacer"></div>
                <div id="new_endereco_area"></div>
                <div id="endereco_area">
                
                    {% render controller('CadpazBundle:Endereco:index', {'pessoa_id': pessoa.id}) %}
                
                </div>
                {#{% set end = null %}
                {% for endereco in pessoa.enderecos %}
                    <div class="example" style="visibility: visible; width: 96%; word-wrap: break-word;  background: #ddf;">
                        {{ endereco.nome }}<br />
                        {{ endereco.logradouro }}, {{ endereco.numero }}<br />
                        {{ endereco.bairro }}<br />
                        {{ endereco.cep }}<br />
                        {{ endereco.municipio }} - {{ endereco.uf }}<br />
                        {{ endereco.obs }}
                        {% set end = 1 %}
                    </div>
                     <div class="spacer"></div>
                {% endfor %}
                {% if end is null %}Nenhum endereço cadastrado.<br>{% endif %}#}
            
        </div>
 
        <div id="tab3" class="tab">
            <div id="questionario_area">
                {% if pessoa.questionario is null %}
                        {% if is_granted('ROLE_EDITOR') %}
                        {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
                        <a title="Clique para preencher o formuláro sócio-econômico" id="questionario" href="{{ path('questionario_new', {'pessoa_id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
                        {% endimage %}
                        {% endif %}
                {% else %}
                    {% render controller('CadpazBundle:Questionario:view', {'id': pessoa.questionario.id}) %}
                {% endif %}
            </div>
        </div>
 
        <div id="tab4" class="tab">
            <div id="caso_area">
                {% if is_granted('ROLE_EDITOR') %}
                {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
                <a id="caso" title="Clique para cadastrar um caso" href="{{ path('caso_new', {'pessoa_id':pessoa.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
                {% endimage %}<div class="spacer"></div>
                {% endif %}
                <div id="caso_area_list">
                    {% render controller('CadpazBundle:Caso:list', {'pessoa_id': pessoa.id}) %}
                </div>
            </div>
            <!--<div class="spacer"></div>-->
        </div>
    </div><!-- tab-content -->
</div><!-- tabs -->

<script>
    //$(".confirm").confirm();
    
    jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
 
        // Show/Hide Tabs
        jQuery('.tabs ' + currentAttrValue).siblings().slideUp(400);
        jQuery('.tabs ' + currentAttrValue).delay(400).slideDown(400);
 
        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
 
        e.preventDefault();
        
        /*setTimeout(function(){
                window.scrollTo("#userDetails",document.body.scrollHeight);
            }, 1200);*/
    });
    
    jQuery('#te, #rg, #pis, #ctps, #telefone, #endereco, #questionario, #caso').on('click', function(e) {
        
        //$("#userDetails").slideUp('fast');
        var elemento = "#"+$(this).attr('id')+"_area";
        window.listaDeCasos = $(elemento).html();
        
        window.userDetails = $("#userDetails").html();
        
        $.ajax({
            url: $(this).attr('href'),
                //method: 'POST',
                //data: {'cpf': $("#cpf").val()},
                success: function(result) {
                    
                    $(elemento).html(result);
                }
        });

        e.preventDefault();
    });
    

    
    jQuery('#te_del, #rg_del, #ctps_del').on('click', function(e) {
       
       e.preventDefault();
       
       var $href = $(this).attr('href');
       
        Ply.dialog("confirm", "Tem certeza?")
            .done(function (ui) {
                // OK
                    })
            .fail(function (ui) {
                // Cancel
            })
            .always(function (ui) {
                if (ui.state) {
                    // Clicked "OK"
                    $.ajax({
                            url: $href,
                                //method: 'POST',
                                //data: {'cpf': $("#cpf").val()},
                                success: function(result) {

                                    $("#userDetails").html(result);
                                }
                        });
                }
                else {
                    // Clicked "Cancel"
                    //   details: `ui.by` — "cancel", "overlay", "esc", "x"
                }
            });
       
        
        

        e.preventDefault();
    });
    
    $("#editlink").click(function(e) {
                        e.preventDefault();
                        $.ajax({
                            url: $(this).attr('href'),
                            method: 'POST',
                            //data: {'cpf': $("#cpf").val()},
                            success: function(result) {
                                $("#userDetails").html(result);
                            }
                        });
                    });
                    
    $("#closeUser").click(function(e) {
        e.preventDefault();
        $("#userDetails").slideUp("fast");
        
        $("#nome").val(window.searchText);
        $('#form2').submit();
        
        $("#example").delay(200).slideDown("fast");
    });
    
    $(document).ready(function () {
        //alert('ready!');
        // This will automatically grab the 'title' attribute and replace
        // the regular browser tooltips for all <a> elements with a title attribute!
        $('a[title]').qtip();

    });
    
    $(".pessoaViewCpf").mask("###.###.###-##");
</script>