<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Dados Pessoais</a></li>
        <li><a href="#tab2">Telefones e Endereços</a></li>
        <li><a href="#tab3">Dados Sócio Econômicos</a></li>
        <li><a href="#tab4">Casos</a></li>
    </ul>
 
    <div class="tab-content">
        <div id="tab1" class="tab active"> {# Tab principal #}
            <div class="example" style="width: 96%; background: #eee; visibility: visible;">
    <strong>Dados Pessoais</strong><br />
    Nome: {{ pessoa.nome }}<br />
    Data de nascimento: {{ pessoa.dataNascimento|date('d/m/Y') }}<br />
    Email: {{ pessoa.email }}<br />
    Sexo:
        {% if pessoa.sexo == 'M' %}
            Masculino
        {% elseif pessoa.sexo == 'F' %}
            Feminino
        {% else %}
            Outros
        {% endif %}
    <br />
    CPF: {{ pessoa.cpf }}<br />
    RG:
    {% if pessoa.rg is null %}
        <a id="rg" class="btn" href="{{ path('pessoa_rg_new', {'id':pessoa.id}) }}">Cadastrar</a><br /><br />
    {% else %}
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;Número: {{ pessoa.rg.numero }}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Data de expedição: {{ pessoa.rg.dataExpedicao | date('d/m/Y') }}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Órgão expedidor: {{ pessoa.rg.orgaoExpedidor }}<br />
    {% endif %}
    Título Eleitoral:
    {% if pessoa.titulo is null %} 
        <a id="te" class="btn" href="{{ path('pessoa_titulo_new', {'id':pessoa.id}) }}">Cadastrar</a><br />
    {% else %}
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;Número: {{ pessoa.titulo.numero | default("Não cadastrado")}}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Zona: {{ pessoa.titulo.zona | default("Não cadastrado")}}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Seção: {{ pessoa.titulo.secao | default("Não cadastrado")}}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Data de emissão: {{ pessoa.titulo.dataEmissao | date('d/m/Y') }}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Município: {{ pessoa.titulo.municipio | default("Não cadastrado")}}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;UF: {{ pessoa.titulo.uf | default("Não cadastrado")}}<br />
    {% endif %}
    PIS:
    {% if pessoa.pis is null %}
        Não cadastrado<br />
    {% else %}
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;Número: {{ pessoa.pis.numero | default("Não cadastrado")}}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Data de emissão: {{ pessoa.pis.dataEmissao | date('d/m/Y') }}<br />
    {% endif %}
    CTPS:
    {% if pessoa.ctps is null %}
        Não cadastrado<br />
    {% else %}
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;Número: {{ pessoa.ctps.numero | default("Não cadastrado")}}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Série: {{ pessoa.ctps.serie | default("Não cadastrado")}}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;UF: {{ pessoa.ctps.uf | default("Não cadastrado")}}<br />
    {% endif %}
    Possui certidão de nascimento: {% if pessoa.certidaoNascimento %}Sim{% else %}Não{% endif %}<br />
    Possui certidão de casamento: {% if pessoa.certidaoCasamento %}Sim{% else %}Não{% endif %}<br />
    Possui cartão de vacina: {% if pessoa.cartaoVacina %}Sim{% else %}Não{% endif %}<br />
    Estado Civil: {{ pessoa.estadoCivil }}<br />
    Nome da mãe: {{ pessoa.nomeMae }}<br />
    Cor infomada: {{ pessoa.corInformada }}<br />
    Data de cadastro: {{ pessoa.dataCadastro | date('d/m/Y') }}<br />
</div>
        </div>
 
        <div id="tab2" class="tab">
            <div style="width: 96%; background: #eee; visibility: visible" class="example">
                <strong>Telefones</strong><br />
                {% set fone = null %}
                {% for telefone in pessoa.telefones %}
                    <div class="example" style="visibility: visible; width: 96%; padding-bottom: 15px;  background: #ddf;">
                        Numero: {{ telefone.numero }}<br />
                        Tipo: {{ telefone.tipo }}<br />
                        Obs: {{ telefone.obs }}
                    </div>
                    <div class="spacer"></div>
                    {% set fone = 1 %}
                {% endfor %}
                {% if fone is null %}Nenhum telefone cadastrado.<br />{% endif %}
                <strong>Endereços</strong><br />
                {% set end = null %}
                {% for endereco in pessoa.enderecos %}
                    <div class="example" style="visibility: visible; width: 96%; word-wrap: break-word;  background: #ddf;">
                        {{ endereco.nome }}<br />
                        {{ endereco.logradouro }}, {{ endereco.numero }}<br />
                        {{ endereco.bairro }}<br />
                        {{ endereco.cep }}<br />
                        {{ endereco.municipio }} - {{ endereco.uf }}<br />
                        {{ endereco.obs }}
                        {% set end = 1 %}
                    </div>
                     <div class="spacer"></div>
                {% endfor %}
                {% if end is null %}Nenhum endereço cadastrado.<br>{% endif %}
            </div>
        </div>
 
        <div id="tab3" class="tab">
            <div class="example" style="visibility: visible; background: #eee; width: 96% ">
                <p>Tab #3 content goes here!</p>
                <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
            </div>
        </div>
 
        <div id="tab4" class="tab">
            {% if pessoa.casos is null %}
                Não cadastrado<br />
            {% else %}
            {% endif %}
            
            <div style="width: 96%; background: #eee; visibility: visible" class="example">
                <p class="casoTitulo">Pedido de pensão de alimentos</p>
                <p class="casoDescricao">Três filhos precisando de alimentação</p>
            </div>
            <div class="spacer"></div>
            <div style="width: 96%; background: #eee; visibility: visible" class="example">
                <p class="casoTitulo">Pedido de pensão de alimentos</p>
                <p class="casoDescricao">Três filhos precisando de alimentação</p>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
</div>

<script>
    jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
 
        // Show/Hide Tabs
        jQuery('.tabs ' + currentAttrValue).siblings().slideUp(400);
        jQuery('.tabs ' + currentAttrValue).delay(400).slideDown(400);
 
        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
 
        e.preventDefault();
        
        /*setTimeout(function(){
                window.scrollTo("#userDetails",document.body.scrollHeight);
            }, 1200);*/
    });
    
    
    jQuery('#te, #rg').on('click', function(e) {
        
        var userPage = $("#userDetails").html();
        
        //alert(userPage);
        
        $.ajax({
                            url: $(this).attr('href'),
                            //method: 'POST',
                            //data: {'cpf': $("#cpf").val()},
                            success: function(result) {
                                
                                
                                
                                $("#userDetails").html(result);
                               // $("#userDetails").css('visibility','visible');
                               //alert(result);
                            }
                        });
        
        
        
        e.preventDefault();
    });
    
</script>