{# Dedraks:ConfigBundle:views:Encaminhamento:list.html.twig #}

<div id="configEncaminhamentosArea">

<span style="font-weight: bold; font-size: large;">Encaminhamentos (Para onde o cliente foi encaminhado)</span><br>

<div id="newEncaminhamentoArea" class="example" style="display: none; width: 400px; background: #FFF">
</div>

<div style="text-align: right; padding-right: 20px; float: right">
    {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
        <a href="#" id="openNewEncaminhamentoLink"><img src="{{ asset_url }}" alt="Adicionar" /></a></td>
    {% endimage %}
</div>


<table id="encaminhamentosTable" class="cell-border">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for encaminhamento in encaminhamentos %}
        <tr>
            <td>{{ encaminhamento.nome }}</td>
            <td title="{{encaminhamento.descricao}}">{{ encaminhamento.descricao[:50] ~ '...' }}</td>
            <td id="{{encaminhamento.id}}">
                {% image '@CadpazBundle/Resources/public/images/button_edit2.png' %}
                <a class="configEncaminhamentoLink" href="#editar" title="Editar"><img src="{{ asset_url }}" alt="Editar" /></a>
                {% endimage %}
                - 
                {% image '@CadpazBundle/Resources/public/images/button_delete2.png' %}
                <a class="configEncaminhamentoLink" href="#remover" title="Remover"><img src="{{ asset_url }}" alt="Editar" /></a></td>
                {% endimage %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
    

<script>
    $('#encaminhamentosTable').DataTable( {
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching":   false
    });
    
    $(".configEncaminhamentoLink").on('click',function(e){
        e.preventDefault();
        var id=$(this).closest('td').attr('id');
        //alert(id);
        if ($(this).attr('href') === '#editar') {
            $.ajax({
                url: Routing.generate('dedraks_config_encaminhamento_edit',{'id':id}),
                success: function(responseText) {
                    
                    //alert(responseText);
                    

                    $('#newEncaminhamentoArea').html(responseText);


                    window.configPopup = $('#newEncaminhamentoArea').bPopup({
                            speed: 650,
                            transition: 'slideIn',
                            transitionClose: 'slideBack',
                        });
                }
            });
        } else if ($(this).attr('href') === '#remover') {
            Ply.dialog("confirm", "Tem certeza?")
            .done(function (ui) {
                // OK
                    })
            .fail(function (ui) {
                // Cancel
            })
            .always(function (ui) {
                if (ui.state) {
                    // Clicked "OK"
                    $.ajax({
                                    url: Routing.generate('dedraks_config_encaminhamento_delete',{'id':id}),
                                    success: function(responseText) {
                                        

                                        $("#dataArea").html(responseText);
                                    }
                                });
                }
                else {
                    // Clicked "Cancel"
                    //   details: `ui.by` — "cancel", "overlay", "esc", "x"
                }
            });
        }
        
        e.preventDefault();
    });
    
    $("#openNewEncaminhamentoLink").on("click", function(e) {
        
        e.preventDefault();
       
        $.ajax({
            url: Routing.generate('dedraks_config_encaminhamento_new'),
            success: function(responseText) {
                
                $('#newEncaminhamentoArea').html(responseText);
                
                window.configPopup = $('#newEncaminhamentoArea').bPopup({
                        speed: 650,
                        transition: 'slideIn',
                        transitionClose: 'slideBack'
                    });
            }
        });
        
    });
</script>

{% if not expandir %}
    <script>$('#configEncaminhamentosArea').addClass('oculto');</script>
{% endif %}    