<div id="configUsuariosArea">
<span style="font-weight: bold; font-size: large;">Usuários do sistema</span><br>


<div id="newUserArea" class="example" style="display: none; width: 400px; background: #FFF"></div>

<div style="text-align: right; padding-right: 20px; float: right">
    {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
        <a href="{{ path('config_user_new') }}" id="openNewUserLink"><img src="{{ asset_url }}" alt="Adicionar" /></a></td>
    {% endimage %}
</div>

{#Total Administradores: {{ totalAdministradores }}#}
<input id="mostrarInativos" type='checkbox' /> Exibir usuários inativos

    <table class="display_compact" id="usersTable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Nome Completo</th>
                <th>Email</th>
                <th>Grupo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {{entity.enabled? '<tr>' : '<tr class="disabledUser" style="background: #DFDFDF; text-decoration:line-through;">'}}
                {#<td><a href="{{ path('config_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>{{ entity.username }}</td>
                <td>{{ entity.nomeCompleto }}</td>
                <td>{{ entity.email }}</td>
                <td>{% for group in entity.groups %} {{ group }} {% endfor %}</td>
                <td id="{{ entity.id }}">
                    {% image '@CadpazBundle/Resources/public/images/button_edit2.png' %}
                    <a class="editUserLink" href="{{path('config_user_edit', { 'id': entity.id })}}" title="Editar"><img src="{{ asset_url }}" alt="Editar" /></a>
                    {% endimage %}
                    {#| 
                    {% image '@CadpazBundle/Resources/public/images/button_delete2.png' %}
                    <a class="deleteUserLink" href="{{path('config_user_delete',{'id':entity.id})}}" title="Remover"><img src="{{ asset_url }}" alt="Editar" /></a></td>
                    {% endimage %}#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {#
        <ul>
        <li>
            <a href="{{ path('config_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
        #}
</div>

<script>
    $('#usersTable').DataTable({
        'paging'    : false,
        'ordering'  : false,
        'info'      : false,
        'searching' : false
    });

    $('.editUserLink').on('click', function(e) {
        e.preventDefault();
        
        var link = $(this).attr('href');
        
        $.ajax({
            url: link,
            success: function(responseText) {
                $('#newUserArea').html(responseText);
                window.configPopup = $('#newUserArea').bPopup({
                            speed: 650,
                            transition: 'slideIn',
                            transitionClose: 'slideBack',
                        });
            }
        });
        
        
    });
    
    $('.deleteUserLink').on('click', function(e) {
        e.preventDefault();
        
        if ({{totalAdministradores}} <2 ) {
            Ply.dialog('alert','Não é possível remover o único administrador do sistema');
            return;
        }
        
        var link = $(this).attr('href');
        
        Ply.dialog("confirm", "Tem certeza?")
            .done(function (ui) {
                // OK
                    })
            .fail(function (ui) {
                // Cancel
            })
            .always(function (ui) {
                if (ui.state) {
                    // Clicked "OK"
                    
                    $.ajax({
                        url: link,
                        success: function(responseText) {
                            $('#dataArea').html(responseText);
                        }
                    });
                }
                else {
                    // Clicked "Cancel"
                    //   details: `ui.by` — "cancel", "overlay", "esc", "x"
                }
            });
        
        
        
    });
    
    
    $('#openNewUserLink').on('click', function(e) {
        e.preventDefault();
        
        $.ajax({
            url: $(this).attr('href'),
            success: function(responseText) {
                $('#newUserArea').html(responseText);
                window.configPopup = $('#newUserArea').bPopup({
                            speed: 650,
                            transition: 'slideIn',
                            transitionClose: 'slideBack',
                        });
            }
        });
    });
    
    $("#mostrarInativos").change(function() {
        
        //alert('click');
        if (this.checked) {
            $('.disabledUser').show('slow');
        } else {
            $('.disabledUser').hide('slow');
        }
    });
    $('.disabledUser').hide();
</script>
                
                
{% if not expandir %}
    <script>$('#configUsuariosArea').addClass('oculto');</script>
{% endif %}    