{# CadpazBundle:View:Encaminhamento:new.html.twig #}
{{ form_start(form) }}
{# <select id="cadpazbundle_encaminhamento_encaminhado_select"><option value="0">Selecione o encaminhamento ou digite um novo</option></select> #}
{{ form_widget(form) }}
{{ form_end(form) }}

<script>
    $("#cadpazbundle_encaminhamento_encaminhado").select2({
        width: '100%',
        language: 'pt_BR'
    });
    
//    $("#cadpazbundle_encaminhamento_encaminhado").hide();
    
    /*
    var data = [];
    $.ajax({
                url: Routing.generate('encaminhamento_list_json'),
                //data: {'nome':searchText},
                success: function(responseText) {
                    data = $.parseJSON(responseText);
                    for (var i=0; i<data.length; i++)
                    {
                        data[i].text = data[i].encaminhado;
                        data[i].id = data[i].encaminhado;
                        //delete data[i].id;
                    }
                    $("#cadpazbundle_encaminhamento_encaminhado_select").select2({
                        tags: true,
                        data: data,
                        createTag: function (params) {
                          return {
                            id: params.term,
                            text: params.term,
                            newOption: true
                          }
                        },
                        templateResult: function (data) {
                          var $result = $("<span></span>");

                          $result.text(data.text);

                          if (data.newOption) {
                            $result.append(" <em><strong>(novo)</strong></em>");
                          }

                          return $result;
                        }
                      });
                      $("#cadpazbundle_encaminhamento_encaminhado_select").on("change", function (e) {
                          
                          //alert(e);
                            $('#cadpazbundle_encaminhamento_encaminhado').val($('#cadpazbundle_encaminhamento_encaminhado_select').select2('val'));
                        });
                },
                type: 'get',
                dataType: 'json'
            });
            */

    
        function showNewEncaminhamentoResponse(responseText, statusText, xhr, $form)  { 

                //$("#encaminhamento_area_a"+{{atendimento_id}}).html(responseText);
                    $("#caso_area").html(responseText);
                    $("#novo_encaminhamento_area_a" + {{atendimento_id}}).html('');
            }

        var optionsEncaminhamento = {
          success: showNewEncaminhamentoResponse,
          type: 'post',
          url: Routing.generate('encaminhamento_new',{'atendimento_id':{{atendimento_id}}})
        };
        // bind form using 'ajaxForm' 
        $('#newEncaminhamentoForm').ajaxForm(optionsEncaminhamento);
        
        
        
        /*jQuery('#cancelarNovoAtendimento').on('click', function(e) {
        
            //alert(window.casoAtendimentos);
        
            //$("#userDetails").slideUp('fast');
            $("#new_atendimento_area").html("");
            //$("#userDetails").slideDown('fast');

            e.preventDefault();
        });*/
</script>