    <div id="atd">
        <strong>{{ caso.nome }}</strong> - (<a id="fecharCaso" href="#">Fechar</a>)<br>
        {{ caso.descricao }}<br><br>
        
        <strong>Atendimentos</strong>
        
        <div style="float: right">
        {% if is_granted('ROLE_EDITOR') %}
        {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
        <a id="newAtendimentoLink" href="{{ path('atendimento_new', {'caso_id':caso.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a>
        {% endimage %}
        {% endif %}
        </div>
        <div id="new_atendimento_area"></div>
        <div class="spacer"></div>
        <div id="atendimentos_area">
        {% for atendimento in caso.atendimentos %}
            <hr>
            <strong>Data e hora:</strong> {{ atendimento.dataHora | date('d/m/Y - H:i')}} - <strong>Atendente:</strong> {{atendimento.user.nomeCompleto}}<br>
            <strong>Histórico:</strong> <br>{{ atendimento.historico | nl2br }}<br>
            <div class="spacer"></div>
            <strong>Encaminhamento:</strong>
            <div id="encaminhamento_area_a{{atendimento.id}}" style="float: right">
                {% if atendimento.encaminhamento is null %}
                    {% if is_granted('ROLE_EDITOR') %}
                    {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
                    <a id="a{{atendimento.id}}" title="Encaminhar beneficiário para atendimento" class="enc_link" href="{{ path('encaminhamento_new', {'atendimento_id':atendimento.id}) }}"><img src="{{ asset_url }}" alt="Example" /></a><br />
                    {% endimage %}
                    {% endif %}
                {% else %}
                Encaminhado para <em>{{ atendimento.encaminhamento.encaminhado }}</em>
                {% endif %}
            </div>
            <div id="novo_encaminhamento_area_a{{atendimento.id}}"></div>
        {% endfor %}
        </div>
    </div>

    <script>
        $('a').qtip();
        
        
        jQuery('#fecharCaso').on('click', function(e) {
        
            //$("#userDetails").slideUp('fast');
            $("#caso_area").html(window.listaDeCasos);
            //$("#userDetails").slideDown('fast');

            e.preventDefault();
        });
        
        $("#newAtendimentoLink").on('click', function(e){
            e.preventDefault();
            $.ajax({
                            url: $(this).attr('href'),
                            method: 'POST',
                            //data: {'cpf': $("#cpf").val()},
                            success: function(result) {
                                //window.listaDeCasos = $("#caso_area").html();
                                $("#new_atendimento_area").html(result);
                                //alert(result);
                            }
                        });
        });
        //
        
        
        $(".enc_link").on('click', function(e){
            
            var elemento = "#novo_encaminhamento_area_"+$(this).attr('id');
            //alert(elemento);
            
            e.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                method: 'GET',
                success: function(result) {

                    $(elemento).html(result);
                }
            });
        });
    </script>